<section class="relative text-white py-32 bg-blue-gradient overflow-hidden">
  <div class="cta-bg-image"></div>
  <div class="container m-auto text-center lg:px-0 px-4 relative z-10">
    <h3 class="font-brand-light lg:text-4xl text-3xl mb-1 leading-tight">Take your idea to the next level. Try Jumpstart.</h3>
    <p class="text-xl leading-normal mb-6">Just <span class="font-brand-semibold"><%= number_to_currency(Utils::SINGLE_LICENSE_PRICE, strip_insignificant_zeros: true) %></span> per site. <span class="font-brand-semibold"><%= number_to_currency(Utils::UNLIMITED_LICENSE_PRICE, strip_insignificant_zeros: true) %></span> for unlimited sites.</p>

    <%= link_to pricing_path, class: "btn btn-secondary btn-large items-center justify-between px-8 lg:py-4" do %>
      Jumpstart your next app <%= render_svg "icons/bolt", styles: "fill-current text-white icon lg:ml-2 lg:block hidden" %>
    <% end %>
  </div>
</section>