<section class="container m-auto text-lg leading-normal flex flex-wrap items-start justify-between lg:pt-24 pt-10 lg:px-0 px-4">
  <div class="lg:w-1/2 w-full flex items-start justify-start">
    <div class="lg:mr-6 mr-4">
      <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle opacity=".1" cx="24" cy="24" r="24" fill="#4965F6"/><path d="M27.5 22.6V13l-5.868 7.044L15.5 27.4h4.8V37l12-14.4h-4.8z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="19.679" y1="14.694" x2="32.908" y2="16.438" gradientUnits="userSpaceOnUse"><stop stop-color="#3957F4"/><stop offset="1" stop-color="#2F87EE"/></linearGradient></defs></svg>
    </div>
    <div class="lg:max-w-sm">
      <h3 class="uppercase text-sm text-grey-darker tracking-wide font-brand-semibold mb-2">Supercharge your Ruby on Rails application</h3>
      <p class="mb-4">Jumpstart allows you to skip the mind-numbing configuration time and effort of setting up a new ruby on rails application.</p><p>Focus on what really matters, turning your idea into a reality. Tap into user authentication, billing, notifications, theming, and more with zero effort.</p>
    </div>
  </div>

  <div class="lg:w-1/2 w-full flex items-start justify-start lg:mt-24 mt-6">
    <div class="lg:mr-6 mr-4">
      <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle opacity=".1" cx="24" cy="24" r="24" fill="#4965F6"/><g clip-path="url(#clip0)"><path d="M20.3 28.998a8.4 8.4 0 1 1 7.2 0v3.204h-7.2v-3.204zm0 4.404h7.2v1.8c0 .996-.804 1.8-1.8 1.8h-3.6a1.8 1.8 0 0 1-1.8-1.8v-1.8zm2.4-6.12v2.52h2.4v-2.52a6 6 0 1 0-2.4 0z" fill="url(#paint0_linear)"/></g><defs><linearGradient id="paint0_linear" x1="19.679" y1="14.701" x2="32.908" y2="16.447" gradientUnits="userSpaceOnUse"><stop stop-color="#3957F4"/><stop offset="1" stop-color="#2F87EE"/></linearGradient><clipPath id="clip0"><path fill="#fff" transform="translate(11 13)" d="M0 0H24V24H0z"/></clipPath></defs></svg>
    </div>

    <div class="lg:max-w-sm">
      <h3 class="uppercase text-sm text-grey-darker tracking-wide font-brand-semibold mb-2">Maximize time and energy on your idea</h3>
      <p class="mb-4">We built Jumpstart to get much of the grunt work done from the beginning.</p> <p>There is no need to set up a new app to accept payments, create a new user authentication system, or even worry about background processing. Jumpstart does just that, <em>jump starts</em> your idea closer to a reality.</p>
    </div>
  </div>
</section>