.nav-link {
  @apply inline-flex mr-6 no-underline text-primary text-base;

  height: 60px;
  line-height: 60px;

  &:hover,
  &:focus {
    @apply text-primary-dark;
  }

  &.active {
    @apply font-bold;
  }
}
